body{
    background-color: #f2f2f2;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 42px;
    text-align: center;
}
h1{
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
}
.images>img{
    height: 400px;
}
.images{
    display: flex;
    align-items: flex-start;
    transition:transform 1s;
}
.window{
    width: 920px;
    overflow: hidden;
}
.aqua{
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(165,165,165,1) 100%);}
.slides{
    margin: 10px auto;
    width:920px;
    display: block;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 0px 1px rgba(216,216,216,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#oBtn{
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(236,236,236,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid #E0E0E0;
}
#oBtn>span>img{
    width: 24px;
}
#oBtn>span{
    padding: 10px 20px;
    border-radius: 1px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 0px 1px rgba(216,216,216,1);
}